<!doctype html>
<html lang="ru" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Козловский</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body class="text-center row m-0 h-100">
<main class="m-auto" style="max-width: 32rem;">
    <div class="card border-light shadow-lg my-2">
        <img src="{{ url_for('static', filename='kozlovskiy.jpg')}}"
             class="card-img-top mx-auto rounded-circle mt-4" alt="Фото профиля бота"
             style="max-width: 128px; max-height: 128px;">
        <div class="card-body">
            <h5 class="card-title display-6 fw-bold pb-3">Козловский работает</h5>
            <a href="https://t.me/Kkoslovsskiy27_bot" class="btn btn-primary btn-lg px-4 fw-bold">Открыть бота</a>
        </div>
    </div>
</main>
<div class="d-flex flex-column">
    <p class="fs-5">Этот telegram-бот умеет:</p>
    <ul class="fs-5 mx-auto text-start">
        <li>Поддерживать интеллектуальный разговор на любую тему🧐</li>
        <li>Расшифровывать голосовые и видео сообщения🎙️</li>
        <li>Писать анонимно другим людям👨‍💻</li>
        <li>Учавствовать в опросах❓</li>
        <li>Генерировать случайные числа🎲</li>
        <li>Искать, что изображено на картинке🖼️</li>
        <li>Поздравлять с днём рождения🎉</li>
        <li>Играть в города🏙</li>
    </ul>
    <a href="https://github.com/ComRSMaster/Kozlovskiy">Исходный код</a>
    <br>
    <a href="https://t.me/ComRSMaster">ComRSMaster (создатель)</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>