<html>
<head><title>Козловский</title></head>
<body>
<div style="font-size: 60;font-family: sans-serif;position: absolute;top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%);text-align: center;">
    Козловский работает
    <form action="https://t.me/Kkoslovsskiy27_bot" style="padding-top: 50px;">
        <input type="submit" value="Открыть бота" style="
    font-size: 50px;
    border: solid black 5px;
    border-radius: 100px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: black 5px 5px 10px;">
    </form>
</div>
<a href="https://github.com/ComRSMaster/Kozlovskiy">Исходный код</a>
<a href="https://t.me/ComRSMaster" style="margin: 30px;">ComRSMaster (создатель)</a>
</body>
</html>